<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center" style="font-size:16px">
        Sortable list
      </ion-title>
      <ion-buttons slot="end" class="ion-margin-end">
        <mat-icon id="edit-list" (click)="edit()">
          {{draggable ? "check" : "edit"}}</mat-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <mat-nav-list *ngIf="data.length > 0" [disableRipple]="draggable">
      <section *ngIf="!draggable">
        <mat-list-item *ngFor="let i of data">
          <div mat-line class="mat-h3">
            {{ i.name }}
          </div>
          <div class="mat-h3">
            {{ i.details }}
          </div>
        </mat-list-item>
      </section>
      <div cdkDropList class="sortable-list" (cdkDropListDropped)="onDrop($event)" *ngIf="draggable">
        <mat-list-item *ngFor="let i of data" cdkDrag cdkDragHandle class="sortable-box">
          <mat-icon matListIcon cdkDragHandle class="handler">drag_handle</mat-icon>
          <div class="mat-h3" mat-line>
            {{ i.name }}
          </div>
          <div class="mat-h3 details">
            {{ i.details }}
          </div>
        </mat-list-item>

      </div>
    </mat-nav-list>
  </ion-content>
</ion-app>