
.cdk-drag-preview{
  display: none;

  }

.cdk-drop-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-placeholder {
  background: #ffffff;  
}

.mat-list-base  {
  .mat-list-item.mat-list-item-with-avatar{
    height: 48px;
  }
}

ion-title{
  font-size: 16px
}