
.cdk-drag-preview{
  display: flex !important;


  mat-list-item{
    height: 48px;
    transition: all 0ms !important;
    .mat-list-item-content{
      display: flex;
      flex-direction: row;
      align-items: center;
      box-sizing: border-box;
      padding: 16px;
      position: relative;
      height: inherit;
      margin-left: 4px;
    }
  }
}

